{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/page/login.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-10 col-xs-10">

		<div class="card mt-5">
			<form id="form-signin" class="form" method="post">

				<div class="card-header bg-warning">
					<h1 class="h3 mb-3 font-weight-normal">Howdy!</h1>
				</div>

				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="card-body bg-dark text-white">
						You are logged in as<br/>
						{{ app.user.username }}<br/>
					</div>
					<div class="card-footer">
						<div class="body-text">
							<button class="btn btn-md btn-warning" type="submit" href="/logout">Logout
							</button>
						</div>
					</div>
				{% else %}
				<div class="card-body bg-dark text-white text-center">
					<div class="card-text text-warning">
						<i class="fas fa-user-circle fa-7x"></i>
					</div>
					<br/>
					{# Username Input #}
					<div class="input-group pt-2 mb-1">
						<label for="inputUsername" class="sr-only">Username</label>
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					</div>
					{# Username checker #}
					<a id="signup-link" href="#" style="display:none"><small>Username not found. New user?</small></a>
					<br/>
					{# Password Input #}
					<div class="input-group pt-2 mb-1">
						<label for="inputPassword" class="sr-only">Password</label>
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
						</div>
						<input type="password" name="password" id="inputPassword" class="form-control" required autofocus>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<div class="card-footer bg-dark text-white text-center">
					<div class="card-text mb-5">
						<button id="signinButton" type="submit" class="btn btn-md btn-warning btn-block" disabled>
							Sign in
						</button>
					</div>
				{# <a href="{{ path('app_signup') }}" class="text-white"><small>Sign up as new user.</small></a> #}
				</div>
				{% endif %}
			</form>
		</div>

	</div>
	</div>
	</div>
{% endblock %}
