{% if type == 'footnote' %}
    <div class="form-group">
        <label for="footnoteBody">Foot note</label>
        <textarea class="form-control" id="footnoteBody" rows="8" maxlength="1000" placeholder="Add a footnote to your blog."></textarea>
    </div>
{% elseif type == 'list' %}
        <ul class="list-group bg-secondary" style="max-size:200px">
            <li class="list-group-item bg-warning text-dark">Task list</li>
            <li class="list-group-item bg-secondary"><input id="listItems" type="text" class="form-control float-left" maxlength="100" placeholder="Add new task.." style="width:90%">
                <button id="elementListAddList" class="btn btn-info btn-sm rounded-circle float-right"><i class="fas fa-plus"></i></button>
            </li>
        </ul>
        <ul id="elementListOfItems" class="list-group bg-secondary" style="max-size:200px"></ul>
{% elseif type == 'picture' %}
	<div class="card bg-dark text-white" style="float: center; margin: auto; margin-top: 50px;">
	{{ form_start(form, {'action': path('_picture_upload'), 'method': 'POST' }) }}
	<div class="class-title bg-warning text-dark">
		<div class="card-header">
			<h1>Upload Picture</h1>
		</div>
		</div>
		<div class="card-body">
			<div class="form-group">
				{{ form_label(form.imageFile) }}
				{{ form_widget(form.imageFile) }}
				{{ form_errors(form.imageFile) }}
			</div>
			<div class="form-group">
				{{ form_label(form. title) }}
				{{ form_widget(form.title) }}
				{{ form_errors(form.title) }}
			</div>
			<div class="form-group">
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
				{{ form_errors(form.description) }}
			</div>
		</div>
		<div class="card-footer">
			<button id="pictureUploadBtn" type="button" class="btn btn-warning link-btn">Save</button>
		</div>
	</div>
	{{ form_end(form) }}
{% else %}
    <div class="form-group">
        <h4>Incorrect type</h4>
    </div>
{% endif %}