{% if type == 'footnote' %}
    <div class="form-group">
        <label for="footnoteBody">Foot note</label>
        <textarea class="form-control" id="footnoteBody" rows="8" maxlength="1000" placeholder="Add a footnote to your blog."></textarea>
    </div>
{% elseif type == 'list' %}
        <ul class="list-group bg-secondary" style="max-size:200px">
            <li class="list-group-item bg-warning text-dark">Task list</li>
            <li class="list-group-item bg-secondary"><input id="listItems" type="text" class="form-control float-left" maxlength="100" placeholder="Add new task.." style="width:90%">
                <button id="elementListAddList" class="btn btn-info btn-sm rounded-circle float-right"><i class="fas fa-plus"></i></button>
            </li>
        </ul>
        <ul id="elementListOfItems" class="list-group bg-secondary" style="max-size:200px"></ul>
{% elseif type == 'picture' %}
	<div class="card bg-dark text-white" style="float: center; margin: auto; margin-top: 50px;">
	{{ form_start(form, {'action': path('_picture_upload'), 'method': 'POST' }) }}
	<img id="previewImageFile" class="card-img-top" src="{{ asset('images/empty-image.png') }}" alt="preview image" style="margin-left:25%; width:100%; max-width:50%; margin-bottom:10px;">
		<div class="card-body">
			<div class="form-group">
				{{ form_label(form.imageFile) }}
				{{ form_widget(form.imageFile) }}
				{{ form_errors(form.imageFile) }}
			</div>
			<div class="form-group">
				{{ form_label(form. title) }}
				{{ form_widget(form.title) }}
				{{ form_errors(form.title) }}
			</div>
			<div class="form-group">
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
				{{ form_errors(form.description) }}
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% elseif type == 'picture1' %}
	<img id="previewImageFile" src="{{ asset('images/empty-image.png') }}" alt="preview image" style="margin-left:25%; width:100%; max-width:50%; margin-bottom:10px;">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Upload</span>
		</div>
		<div class="image-file">
			<input type="file" class="custom-file-input" id="inputImageFile" accept="image/png, image/jpg, image/jpeg">
			<label class="custom-file-label" for="inputImageFile" id="inputImageFile">Choose file</label>
		</div>
	</div>

	<div class="form-group">
        <label for="footnoteBody">Image title</label>
        <input id="imageTitle" type="text" class="form-control float-left" maxlength="100" placeholder="Add new task.." style="width:90%">
    </div>

	<div class="form-group">
        <label for="footnoteBody">Image description</label>
        <textarea class="form-control" id="imageDesc" rows="3" maxlength="255" placeholder="Add a footnote to your blog."></textarea>
    </div>

{% else %}
    <div class="form-group">
        <h4>Incorrect type</h4>
    </div>
{% endif %}