{% extends "base.html.twig" %}

{% block body %}
    {{ include('include/user_card.html.twig') }}

<div class="card rounded shadow" style="margin:50px;">
    <div class="card-header">Users</div>
    <div class="card-body overflow-auto">
        <table class="table table-striped">
            <thead class="card-title">
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Member since</th>
                    <th scope="col">Last login</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="card-body">
            {% for id, user in users %}
                <tr scope="row" class="card-text clickable" id="accordion{{ id }}" data-toggle="collapse" data-target="#collapse{{ id }}">
                    <td scope="col">{{ user.status }}</td>
                    <td scope="col">{{ id }}</td>
                    <td scope="col">{{ user.username }}</td>
                    <td scope="col">{{ user.email }}</td>
                    <td scope="col">{{ user.joined|date('d-M-Y') }}</td>
                    <td scope="col">{{ user.lastlogin|date('d-M-Y') }}</td>
                    <td scope="col"><a class="btn btn-sm btn-primary" href="{{ path('_user_blogs', {'id': id}) }}">Blogs</a></td>
                    <td scope="col"><button class="btn btn-sm btn-primary">Status</button></td>
                </tr>

                <tr scope="row">
                    <td colspan="12">
                        <div id="collapse{{ id }}" class="collapse">

                                <table class="table table-striped">
                                    <tbody>
                                        <tr scope="row">
                                            <th>Name<th>
                                            <td>{{ user.profile.name }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Birthday<th>
                                            <td>{{ user.profile.birthday|date('d-M-Y') }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Address<th>
                                            <td>{{ user.profile.address }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Postcode<th>
                                            <td>{{ user.profile.postcode }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Phone<th>
                                            <td>{{ user.profile.phone }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Mobile<th>
                                            <td>{{ user.profile.mobile }}</td>
                                        </tr>
                                        <tr scope="row">
                                            <th>Notes<th>
                                            <td>{{ user.profile.bio }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}