{% extends "base.html.twig" %}

{% block body %}
	<div class="card rounded shadow" style="margin:50px;">
        <h4 class="card-header">Blogs</h4>
			{% if user %}
        <div class="card-body">
			<p class="card-text"><small>Welcome, </small>{{ user.username }}</p>
			<p class="card-text"><small>{{ user.email }}</small></p>
			<p class="card-text"><small class="card-text">Last login : </small>{{ user.lastlogin|date('d-M-Y') }}</p>
		</div>
			{% endif %}
			{% if user %}
		<div class="card-footer">
			<p class="card-text"><small>Member since : </small>{{ user.joined|date('d-M-Y') }}
			( <small>last login</small> {{ user.lastlogin|date('d-M-Y') }} )</p>
		</div>
			{% endif %}
    </div>

	{% for blog in blogs %}
        {{ card(blog) }}
	{% endfor %}

{% endblock %}