{% extends "base.html.twig" %}

{% block body %}
	{{ include('include/user_card.html.twig') }}

	{% for blog in blogs %}
		<div class="card" style="margin:50px;">
			<div class="card-header bg-info text-white">
				<small class="card-text rounded-pill badge badge-sm badge-primary">{{ blog.statestr }}</small>
				<h4 class="card-title">{{ blog.title }}</h4>
				<p class="card-text"><small>by : {{ blog.writer }}</small></p>
			</div>
			<div class="card-body">
				<div class="card-text">
					{{ blog.body }}
				</div>
			</div>
			<div class="card-footer text-white">
				<a type="button" role="button" class="btn btn-sm btn-secondary" href="{{ path('_blog_detail', {'id': blog.id }) }}">View</a>
				{% if app.user %}
					{% if blog.ownerID == app.user.id %}
						<a type="button" role="button" class="btn btn-sm btn-warning" href="{{ path('_blog_update', {'id': blog.id }) }}">Edit</a>
						<a type="button" role="button" class="btn btn-sm btn-danger" href="{{ path('_blog_delete', {'id': blog.id }) }}">Delete</a>
					{% endif %}
				{% endif %}
				<h6 class="card-text mb-2 text-white text-muted"><small>Last update </small>{{ blog.updated|date("d-M-y") }}</h6>
			</div>
		</div>
	{% endfor %}
{% endblock %}