{% extends "base.html.twig" %}

{% block body %}
<div class="row mt-3 mb-3">

    <div class="col-sm-12 col-md-8 mt-5 mb-5">
        <div class="card rounded shadow" style="height:400px;">
            <div class="card-header text-white bg-info">
                <h4 class="card-title">
                    {{ featured.title }}
                </h4>
            </div>
            <div class="card-body overflow-auto" style="height:100%; width:100%;">
                <div class="card-text">
                    {{ featured.body }}
                </div>
            </div>
            <div class="card-footer">
                <small class="float-left card-subtitle">{{ featured.updated|date('d-M-Y') }}</small>
                <a class="float-right btn btn-warning rounded-pill text-dark btn-md float-right" href="{{ path('_admin_blogs') }}"><i class="fa fa-eye" aria-hidden="true"></i> More..</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 mt-5 mb-5">
        <div class="card rounded shadow" style="height:400px;">
            <div class="card-header text-white bg-info">
                <h4 class="card-title">
                    Inventory
                </h4>
            </div>
            <div class="card-body">
                <div class="card-groups justify-content-center overflow-auto" style="width:100%; height:100%;">

                    <div class="card text-white bg-dark mb-3 float-center" style="max-width: 12rem;">
                        <div class="card-body">
                            <small class="card-text">Software Development</small>
                            <p class="card-text">
                                <a class="text-white" href="http://abraham-kurnanto.com/PAAS/">PAAS</a>
                            </p>
                        </div>
                        <div class="card-footer"><small class="card-text">Platform as a service or is it Pizza as a service?</small></div>
                    </div>

                    <div class="card text-white bg-dark mb-3 float-center" style="max-width: 12rem;">
                        <div class="card-body">
                            <small class="card-text">Game Development</small>
                            <p class="card-text">
                            <a class="text-white" href="{{ path('_gallery', { 'type': 'game' }) }}">
                            Hobby</a></p>
                        </div>
                    </div>

                    <div class="card text-white bg-secondary mb-3 float-center" style="max-width: 12rem;">
                        <div class="card-body">
                            <small class="card-text">Interior</small>
                            <p class="card-text">
                            <a class="text-white" href="{{ path('_gallery', { 'type': 'render' }) }}">
                            3D Render</a></p></p>
                        </div>
                        <div class="card-footer"><small class="card-text">Some past works</small></div>
                    </div>


                    <div class="card text-white bg-secondary mb-3 float-center" style="max-width: 12rem;">
                        <div class="card-body">
                            <small class="card-text">Interior</small>
                            <p class="card-text">
                            <a class="text-white" href="{{ path('_gallery', { 'type': 'project' }) }}">
                            Past Projects</a></p></p>
                        </div>
                        <div class="card-footer"><small class="card-text">Some past works</small></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}